<%- include("../includes/header.ejs", {title:"Add New Skill"}); %>
    <h1>Add New Skill</h1>
    <form action="/skill/insert" method="get">
        <input type="hidden" id="skill_id" name="skill_id" value="<%= skill.skill_id %>">
        Skill Name: <input id="skill_name" name="skill_name" type="text" value="<%= skill.skill_name%>"/>
        <br />
        Descrption: <input id="description" name="description" type="text" value="<%= skill.description%>"/>
        <br />


        <input type="submit" />

    </form>
<%- include("../includes/footer.ejs"); %>