<%- include("../includes/header.ejs", {title:"Add New Address"}); %>
    <h1>Add New Address</h1>
    <form action="/address/insert" method="get">
        <input type="hidden" id="address_id" name="address_id" value="<%= address.address_id %>">
        Street Name: <input id="street" name="street" type="text" value="<%= address.street%>"/>
        <br />
        Zip Code: <input id="zip_code" name="zip_code" type="text" value="<%= address.zip_code%>"/>
        <br />


        <input type="submit" />

    </form>
<%- include("../includes/footer.ejs"); %>